/* ------------- General Service Page Styles ------------- */
*{
    box-sizing: border-box;
}

/* ------------- Color Boxes Section ------------- */
/* SERVICE PAGE BANNER */

.service .page-banner-area {
    background-attachment: fixed;
    background-image: url('../../assets/gallery/untitled-43830464.jpg');
    box-shadow: 0 3000px rgba(46, 46, 46, 0.4) inset;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 100%;
}

.service .page-banner-content h2 {
    color: #fff !important;
    font-size: 45px;
}

.service .page-banner-content {
    text-align: center;
}

.service .page-banner-content ul {
    padding: 0;
    display: flex;
    justify-content: center;
}

.service .page-banner-content ul li {
    padding: 0 15px;
    font-weight: 600;
    color: #ef558a;
}

.service .page-banner-content ul li:nth-child(2) {
    border-left: 1px solid #ef558a;
}

/* ------------- Color Boxes Section ------------- */
.service .color-boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.service .color-boxes .color-box {
    flex: 1 1 220px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.service .color-boxes .color-box.one {
    background-color: #75c5d0;
}
.service .color-boxes .color-box.two {
    background-color: #6fc191;
}
.service .color-boxes .color-box.three {
    background-color: #efbd4d;
}
.service .color-boxes .color-box.four {
    background-color: #f27c65;
}

.service .color-boxes .color-box h4 {
    text-transform: uppercase;
    color: #fff !important;
}

.service .color-boxes .color-box img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    object-fit: cover;
    border: 1px solid #fff;
    margin: 30px 0;
}

.service .color-boxes .color-box p {
    color: #fff !important;
}

/* ------------- Activities Section ------------- */

.service .activities .service-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service .activities .service-container .heading {
    margin: 50px 0;
    text-align: center;
}

/* ------------- New figure Section Start------------- */

.figure-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 100px !important;
}

figure {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 250px;
  margin: 10px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}
figure:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
figure:hover img {
  transform: scale(1.25);
}
figure:hover figcaption {
  bottom: 0;
}

figure img {
  height: 100%;
  transition: 0.25s;
  object-fit: cover;
}
figure figcaption {
  position: absolute;
  bottom: -80%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(255 255 255 / 85%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: white;
  line-height: 1;
  transition: 0.25s;
}
figure figcaption h3 {
  margin: 0 0 20px;
  padding: 0;
}
figure figcaption p {
  font-size: 14px;
  line-height: 1.75;
}

/* ------------- New Figure Section End------------- */


/* ------------- Join Us Section ------------- */
.service .join-us .join-us-container {
    display: flex;
}

.service .join-us .join-us-container .left-side {
    display: flex;
    flex-direction: column;
    background-color: #75c5d0;
    flex: 0 0 50%;
    padding: 100px;
    justify-content: space-between;
}

.service .join-us .join-us-container .left-side h4 {
    margin: 20px 0 !important;
}

.service .join-us .join-us-container .left-side p {
    color: #fff !important;
}

.service .join-us .join-us-container .left-side button {
    padding: 15px 35px;
    width: fit-content;
    border-radius: 5px;
}

.service .join-us .join-us-container .left-side button:hover {
    color: #fff;
    background-color: #ef558a;
}

.service .join-us .join-us-container .right-side {
    flex: 0 0 50%;
    background-image: url('../../assets/gallery/DSC_5109.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ------------- Newsletter Section ------------- */

.service .newsletter-area {
    padding: 100px;
    background-color: #fdeee9;
}

.service .newsletter-area .service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.service .newsletter-area .service-container div {
    flex: 1 0 400px;
    margin: 15px;
}

.service .newsletter-area .service-container h2 {
    font-size: 35px;
}

.newsletter-form-content {
    position: relative;
}

.newsletter-form-content .input-newsletter {
    display: block;
    width: 100%;
    background-color: #fff;
    border: 1px solid #fff;
    height: 60px;
    padding-left: 25px;
    border-radius: 30px;
    outline: 0;
    color: #1b0238;
}

.newsletter-form-content .newsletter-form button {
    position: absolute;
    right: 4px;
    top: 4px;
    background-color: #ef558a;
    color: #fff;
    border: none;
    height: 52px;
    padding: 0 30px;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    line-height: 50px;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}


/* ------------- MEDIA QUERY ------------- */

@media (max-width: 576px) {
    .service .activities .service-container {
        padding: 20px;
    }


    .figure-container {
        padding: 20px;
    }

    .service .join-us .join-us-container {
        flex-direction: column;
    }
    .service .join-us .join-us-container .left-side {
        padding: 30px;
    }
    .service .join-us .join-us-container .right-side {
        flex: initial;
        height: 300px;
    }

    .service .newsletter-area {
        padding: 20px 0;
    }
    .service .newsletter-area .service-container {
        display: flex;
        flex-direction: column;
    }

    .service .newsletter-area .service-container div {
        flex: 0;
        width: 100%;
    }

    .service .newsletter-area .service-container h2 {
        font-size: initial;
        max-width: 300px;
    }

    .service .service-container .newsletter-form {
        flex-wrap: wrap;
        padding-right: 30px;
    }

    .service .service-container .newsletter-form button {
        position: relative;
        display: block;
        margin-top: 5px;
    }
}
@media (max-width: 768px) {
    .service .join-us .join-us-container .left-side {
        padding: 30px;
    }  
}
@media (min-width: 768px) {
    .service .color-boxes .color-box {
        /* padding: 30px; */
    }    
    .service .activities .service-container {
        max-width: 720px;
        padding: 20px;
    }


    .figure-container {
        max-width: 720px;
        padding: 20px;
    }

    .figure-container figure.image-block {
        flex: 1 0 220px;
    }

    .service .join-us .join-us-container .left-side {
        padding: 40px;
    }
}

@media (min-width: 992px) {
    .service .color-boxes .color-box {
        flex: 1 1 240px;
        padding: 30px 10px;
    }
    .service .activities .service-container {
        max-width: 960px;
        padding: 20px;
    }


    .figure-container {
        max-width: 960px;
        padding: 20px;
    }

    .figure-container figure.image-block {
        flex: 1 0 250px;
    }

    .service .join-us .join-us-container .left-side {
        padding: 70px;
    }
}

@media (min-width: 1200px) {
    .service .activities .service-container {
        max-width: 1140px;
        padding: 0 80px;
    }


    .figure-container {
        max-width: 1140px;
        padding: 0 80px;
    }

    .figure-container figure.image-block {
        flex: 1 0 280px;
    }

}

@media (min-width: 1400px) {
    .service .activities .service-container {
        max-width: 1320px;
        margin: 0 auto;
    }


    .figure-container {
        max-width: 1320px;
        margin: 0 auto;
    }

    .service .activities .service-container .activity-cards .single-card {
        flex: 1 0 300px;
        padding: 30px;
        margin: 15px;
    }


    .figure-container figure.image-block {
        flex: 1 0 300px;
        margin: 15px;
    }

    .service .newsletter-area .service-container {
        max-width: 1320px;
        margin: 0 auto;
    }
}

@media (min-width: 1600px) {
    .service .join-us .join-us-container .left-side {
        padding-left: 180px;
    }
}